{% extends 'templates/main-layout.twig' %}

{% block content %}

    <div class="container">
        {% include "templates/partials/flash.twig" %}

        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="login-panel panel panel-{{ errors ? 'danger' : 'default' }}">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path_for('auth.signin') }}" method="post" role="form">
                            <fieldset>
                                <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                                    <label class="control-label" for="email">Username (E-Mail-Address)</label>
                                    <input name="email" type="text" class="form-control" id="email" placeholder="Username (E-Mail-Address)" value="{{ old.email }}" autofocus>
                                    {% if errors.email %}
                                        <span class="help-block">{{ errors.email | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                                    <label class="control-label" for="password">Password</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="Password" value="{{ old.password }}">
                                    {% if errors.password %}
                                        <span class="help-block">{{ errors.password | first }}</span>
                                    {% endif %}
                                </div>
                                <div class="checkbox">
                                    <label class="control-label" for="remember">
                                        <input type="checkbox" name="remember" id="remember" value="1" checked disabled>
                                        Remember Me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Sign in</button>
                                {{ csrf.field | raw }}
                            </fieldset>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <p>Don't have account? <a href="{{ path_for('auth.signup') }}">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}