{% extends 'templates/admin-layout.twig' %}

{% block content %}
    <div id="page-wrapper">
        {% include "templates/partials/flash.twig" %}

        <div class="card">
            <div class="card-header">
                <h3>Create new user</h3>
            </div>
            <form action="{{ path_for('admin.users.new') }}" method="post" novalidate>
                <div class="card-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating" for="firstName">First Name</label>
                                    <input name="firstName" type="text"
                                           class="form-control{{ errors.firstName ? ' is-invalid' : '' }}"
                                           id="firstName"
                                           placeholder="First Name" value="{{ old.firstName }}" autofocus>
                                    {% if errors.firstName %}
                                        <span class="invalid-feedback">{{ errors.firstName | first }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating" for="lastName">Last Name</label>
                                    <input name="lastName" type="text"
                                           class="form-control{{ errors.lastName ? ' is-invalid' : '' }}" id="lastName"
                                           placeholder="Last Name" value="{{ old.lastName }}">
                                    {% if errors.lastName %}
                                        <span class="invalid-feedback">{{ errors.lastName | first }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating" for="email">E-Mail-Address</label>
                                    <input name="email" type="text"
                                           class="form-control{{ errors.email ? ' is-invalid' : '' }}" id="email"
                                           placeholder="E-Mail-Address" value="{{ old.email }}">
                                    {% if errors.email %}
                                        <span class="invalid-feedback">{{ errors.email | first }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ csrf.field | raw }}
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button type="submit" name="commit" class="btn btn-raised btn-success">Create</button>
                    <button type="submit" name="continue" class="btn btn-raised btn-secondary">Create and continue
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}