<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PST-Stack</title>

    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/sb-admin-2.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/metisMenu.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/morris.min.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/css/style.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ base_url() }}/js/html5shiv.min.js"></script>
    <script src="{{ base_url() }}/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sb-admin-2">

<div id="wrapper">
    {% include 'templates/partials/admin-navigation.twig' %}

    {% block content %}{% endblock %}
</div>

<script src="{{ base_url() }}/js/jquery-3.2.1.min.js"></script>
<script src="{{ base_url() }}/js/bootstrap.min.js"></script>
<script src="{{ base_url() }}/js/sb-admin-2.min.js"></script>
<script src="{{ base_url() }}/js/metisMenu.min.js"></script>
<script src="{{ base_url() }}/js/morris.min.js"></script>
<script src="{{ base_url() }}/js/raphael.min.js"></script>
<script src="{{ base_url() }}/js/autohide-alerts.min.js"></script>
<script src="{{ base_url() }}/js/morris-data.min.js"></script>

</body>
</html>